* {
    font-family: 'Open Sans', sans-serif;
    background-color: bisque;
}
nav{
    font-size: large;
    font-weight: bold;
    color: darkmagenta;
    margin: 15px;
    text-align: center;
}
a {
   margin: 30px; 
}

#encabezado {
    border: 5px solid darkmagenta;
    box-shadow: 10px 10px 5px rgb(230, 173, 221);
}


h1 {
    font-weight: bold;
    color: darkslateblue;
    text-align: center;
    font-size: 55px;
    text-shadow: 1px 1px 2px rgb(251, 250, 250), 0 0 25px rgb(224, 162, 206), 0 0 5px darkmagenta;
    margin: 15px;
}
img {
    border: 4px double #1C6EA4;
    margin-left: 20px;
    margin-bottom: 30px;
    
}

h3 {
    font-style: italic;
    font-weight: bold;
    color: darkmagenta;
    text-shadow: 2px 2px 2px lightblue;
}

h2 {
    font-weight: bold;
    font-style: italic;
    background-color: lightblue;
    color: darkmagenta;
    text-shadow: 2px 2px 2px wheat;
}

span {
    font-weight: bold;
    font-style: italic;
}

#datos {
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
    
    float: right;
    
}






aside {
    width: 30%;
  padding-left: 15px;
  margin-top: 30px;
  margin-left: 15px;
  float: right;
  border: 4px double darkmagenta;
  background-color: lightblue;

}

.contenido {
    width: 60%;
}
ul {
    width: 60%;
}

#mis_datos {
   font-weight: bold;
   font-size: larger;
    color: darkmagenta;
    background-color: lightblue;
    text-shadow: 2px 2px 2px wheat;
}

#lista_contacto {
    background-color: lightblue;
    font-weight: bold;
    color: darkmagenta;
}

.item_contacto {
    margin: 15px;
}

form {
    background-color: lightblue;
    font-size: larger;
    font-weight: bolder;
    color: darkmagenta;
    text-shadow: 2px 2px 2px wheat;
    text-align: center;
    border: 4px double darkmagenta;
}
label {
    background-color: lightblue;
}

button {
    background-color: fuchsia;
    font-weight: bolder;
    
}

iframe {
    border: 4px double #1C6EA4;
}

#botonEnviar {
    background-color: fuchsia;
    font-weight: bolder;
}




